<% layout('boilerplate') -%>
<div class="container">
  <h1 class="text-center mb-5">New Campground</h1>
  <div class="row">
    <div class="col-6 offset-3">
      <form
        class="needs-validation"
        action="/campgrounds/"
        method="POST"
        novalidate
      >
        <label for="title" class="form-label">Title</label>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="title"
            name="campground[title]"
            required
          />
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Title is required</div>
        </div>
        <label for="location" class="form-label">Location</label>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="location"
            name="campground[location]"
            required
          />
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Location is required</div>
        </div>

        <label for="image-url" class="form-label">Image URL</label>
        <div class="input-group mb-3">
          <input
            type="text"
            readonly
            class="form-control"
            id="image-url"
            value="https://picsum.photos/400/400"
            name="campground[img]"
          />
        </div>

        <label for="description" class="form-label">Description</label>
        <div class="input-group mb-3">
          <textarea
            type="text"
            class="form-control"
            id="description"
            aria-describedby="description"
            name="campground[description]"
            required
          ></textarea>
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Please provide a description</div>
        </div>

        <label for="price" class="form-label">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">&#8377;</span>
          <input
            type="number"
            id="price"
            class="form-control"
            min="0"
            aria-label="price-label"
            name="campground[price]"
            required
          />
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Price is required</div>
        </div>

        <button class="btn btn-primary">Add Campground</button>
        <a href="/campgrounds" class="btn btn-outline-danger">Cancel</a>
      </form>
    </div>
  </div>
</div>

<script>
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
